


/* Shared Styles */

.all-section-margin{
    margin: 0px 160px;
    background-color: #F5F5F5;
    }

.fira-sans-font {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

.section-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}

.section-paragraph{
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.7);
}


.banner{
    height: 560px;
    background-color: #C6E4D6;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.banner-title{
    font-size: 24px;
}

.banner-heading{
    font-size: 56px;
}

.banner-btn{
    border: none;
    border-radius: 4px;
    padding: 17px 34px;
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
}

.banner-btn:hover{
    background-color: #0a4134;
    cursor: pointer;
}


.vision-card-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.vision-card1{
    /* border: 1px solid red; */
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    padding: 32px;
}
.vision-card2{
    /* border: 1px solid red; */
    background-color: #C6E4D6;
    border-radius: 16px;
    padding: 32px;
}
.vision-card3{
    /* border: 1px solid red; */
    background-color: #F7EBCF;
    border-radius: 16px;
    padding: 32px;
}

.vision-card1-btn{
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #5490F5;
    font-size: 16px;
    font-weight:bold;
    padding: 11px 20px;
    border: none;
}
.vision-card2-btn{
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #09A15C;
    font-size: 16px;
    font-weight:bold;
    padding: 11px 20px;
    border: none;
}
.vision-card3-btn{
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #FFC239;
    font-size: 16px;
    font-weight:bold;
    padding: 11px 20px;
    border: none;
}

.vision-card1-btn:hover{
    background-color: #2974f5;
    cursor: pointer;
}
.vision-card2-btn:hover{
    background-color: #066b3e;
    cursor: pointer;
}
.vision-card3-btn:hover{
    background-color: #aa7701;
    cursor: pointer;
}

.vision-card-title{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}


.recent-news-card{
    /* height: 402px; */
    background-color: white;
    border-radius: 24px;
    padding: 48px;
    
}

.recent-card-img{
    border-radius: 24px;
}

.recent-news-card-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.recent-card-title{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}

.recent-card-time{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.recent-news-card-details{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.donation-title, .donation-paragraph{
    text-align: center;
}

.donation-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
}

.donate-card1, .donate-card2, .donate-card3, .donate-card4{
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-color: white;
    padding: 40px 40px;
    border-radius: 16px;
}

.donate-card1, .donate-card2, .donate-card3, .donate-card4, h1{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    color: rgba(14, 14, 14, 0.8);
}

.donate-card1:hover, .donate-card2:hover, .donate-card3:hover, .donate-card4:hover{
background-color: #C6E4D6;
cursor: pointer;
}

.input-other-amount{
    width: 100%;
    font-size: 24px;
    padding: 20px 40px;
    text-align: center;
    color: rgba(14, 14, 14, 0.3);
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.input-donation{
    text-align: center;
}